body{
    background: rgb(255, 255, 255);
}

.mapa{
    width:45vw;
    margin: 1vh auto 0 auto;
}


path{
    fill: rgba(0, 0, 0, 0.268);
    stroke: rgba(0, 0, 0, 0.623);
    stroke-width: 1px;
}
  /*Movil*/
  @media (any-pointer: fine) {
    path:hover {
      fill: rgba(0, 255, 30, 0.69);
      color: #fff;
    }
  }
 
  
  path:active {
    fill: rgba(4, 0, 255, 0.555);
    color: #fff;
  }
  
  /*
    También podemos mantener el mismo estilo
    cuándo se usa el efecto hover.
   */
  @media (any-hover: hover) {
    path:hover {
      fill: rgba(251, 255, 0, 0.605);
      stroke: #fff;
    }
  }
