body{
    background: rgb(255, 255, 255);
}

.mapa{
    width:45vw;
    margin: 1vh auto 0 auto;
    overflow: hidden;
}
@media (max-width:375px){
    .mapa{
        width: 130vw;
    }
}


path{
    fill: rgba(0, 0, 0, 0.268);
    stroke: rgba(0, 0, 0, 0.623);
    stroke-width: 1px;
    transition: 0.5s;
}
 
  @media (any-pointer: fine) {
    path:hover {
      fill: rgba(0, 255, 30, 0.347);
      color: #fff;
    }
  }
 
   /*Movil*/
  path:active {
    fill: rgba(4, 0, 255, 0.29);
    stroke: #fff;
  }
  
  /*Escritorio*/
  @media (any-hover: hover) {
    path:hover {
      fill: rgba(251, 255, 0, 0.384);
      stroke: #fff;
  
    }
  }
