body{
    background: rgb(255, 255, 255);
}

.estacionamiento{
    width:65vw;
    margin: 10% auto 0 auto;
}


.estacionamiento path{
    fill: rgba(190, 214, 9, 0);
    stroke: rgba(0, 0, 0, 0.623);
    stroke-width: 1px;
}
.estacionamiento a :hover{
    fill: rgba(255, 0, 0, 0.808);
    stroke: rgb(0, 0, 0);
    stroke-width: 2px;

    
}